/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define RAISE 1
#define WINDOW 2
#define BLUETOOTH 3

/ {
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
  };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
    bindings = <
&kp TAB        &kp Q      &kp W      &kp E        &kp R       &kp T      &kp LBKT        &kp RBKT  &kp Y     &kp U       &kp I       &kp O      &kp P         &kp BSLH 
&mt LCTRL ESC  &hm LGUI A &hm LALT S &hm LCTRL D  &hm LSHFT F &kp G      &kp MINUS       &kp EQUAL &kp H     &hm RSHFT J &hm RCTRL K &hm RALT L &hm RGUI SEMI &kp SINGLE_QUOTE 
&mt LSHFT LPAR &kp Z      &kp X      &kp C        &kp V       &kp B      &mo RAISE       &mo RAISE &kp N     &kp M       &kp COMMA   &kp DOT    &kp FSLH      &mt RSHFT RPAR
&mo BLUETOOTH  &kp LGUI   &kp LALT   &kp CAPSLOCK             &mo WINDOW &kp BSPC        &kp SPC   &kp ENTER             &kp LEFT    &kp DOWN   &kp UP        &kp RIGHT
>;
		};

    raise_layer {
    bindings = <
&kp GRAVE &kp N1        &kp N2      &kp N3         &kp N4         &kp N5    &kp C_PREV         &kp C_NEXT       &kp N6    &kp N7         &kp N8           &kp N9        &kp N0        &trans
&kp LBRC  &hm LGUI EXCL &hm LALT AT &hm LCTRL HASH &hm LSHFT DLLR &kp PRCNT &kp C_VOL_DN       &kp C_VOL_UP     &kp CARET &hm RSHFT AMPS &hm RCTRL STAR   &hm RALT LPAR &hm RGUI RPAR &kp RBRC
&kp LBKT  &trans        &trans      &trans         &trans         &trans    &kp C_MUTE         &trans           &trans    &trans         &trans           &trans        &trans        &kp RBKT
&trans    &trans        &trans      &mo RAISE                     &trans    &kp DEL            &kp C_PLAY_PAUSE &trans                   &trans           &trans        &trans        &trans
>;
    };

    window_layer {
    bindings = <
&kp LA(GRAVE) &kp LA(N1) &kp LA(N2)     &kp LA(N3)      &trans &trans &kp LA(LBKT)        &kp LA(RBKT) &trans        &trans          &trans          &trans         &kp LA(N0) &kp LA(BSLH)
&trans        &trans     &hm LALT LA(S) &trans          &trans &trans &kp LA(MINUS)       &trans       &kp LA(H)     &hm RSHFT LA(J) &hm RCTRL LA(K) &hm RALT LA(L) &trans     &trans
&trans        &kp LA(Z)  &trans         &hm LCTRL LA(C) &trans &trans &trans              &trans       &kp LA(N)     &trans          &trans          &trans         &trans     &trans
&trans        &trans     &trans         &trans                 &trans &trans              &kp LA(SPC)  &kp LA(ENTER)                 &trans          &trans         &trans     &trans
>;
    };

    bluetooth_layer {
    bindings = <
&bt BT_SEL 0 &trans &trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans &trans &out OUT_USB
&bt BT_SEL 1 &trans &trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans &trans &out OUT_BLE
&bt BT_SEL 2 &trans &trans &trans &trans &trans &bt BT_CLR          &trans &trans &trans &trans &trans &trans &trans
&trans       &trans &trans &trans        &trans &trans              &trans &trans        &trans &trans &trans &trans
>;
    };
	};
};
