#include "layers.h"

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      label = "QWERTY";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &kp Q           &kp W           &kp E           &kp R           &kp T               &kp Y           &kp U           &kp I           &kp O           &kp P
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &hm LGUI A      &hm LALT S      &hm LCTRL D     &hm LSHFT F     &kp G               &kp H           &hm LSHFT J     &hm LCTRL K     &hm LALT L      &hm LGUI SQT
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp Z           &kp X           &kp C           &kp V           &kp B               &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &lt MEDIA ESC   &lt NAV SPC     &lt MOUSE TAB       &lt SYM RET     &lt NUM BSPC    &lt FUN DEL
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
    };

    media_layer {
      label = "MEDIA";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     &none           &none           &none           &none           &none               &none           &none           &none           &none           &out OUT_BLE
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHIFT      &none               &kp C_PREV      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT      &out OUT_USB
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &none           &none           &none           &none           &none               &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_CLR
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &none           &none           &none               &kp C_STOP      &kp C_PP        &kp C_MUTE
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
    };

    nav_layer {
      label = "NAVI";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &none           &none           &none           &none           &none               &kp C_AC_REDO   &kp C_AC_PASTE  &kp C_AC_COPY   &kp C_AC_CUT    &kp C_AC_UNDO
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHIFT      &none               &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp CAPSLOCK
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &none           &none           &none           &none           &none               &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &kp INSERT
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &none           &none           &none               &kp RET         &kp BSPC        &kp DEL
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
    };

    /* This needs to be implemented when mouse keys hits ZMK's main branch */
		mouse_layer {
      label = "MOUSE";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &none           &none           &none           &none           &none               &kp C_AC_REDO   &kp C_AC_PASTE  &kp C_AC_COPY   &kp C_AC_CUT    &kp C_AC_UNDO
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHIFT      &none               &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp CAPSLOCK
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &none           &none           &none           &none           &none               &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &kp INSERT
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &none           &none           &none               &kp RET         &kp BSPC        &kp DEL
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
		};

		sym_layer {
      label = "SYMBOL";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &kp LBRC        &kp AMPS        &kp STAR        &kp LPAR        &kp RBRC            &none           &none           &none           &none           &none
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp COLON       &kp DLLR        &kp PRCNT       &kp CARET       &kp PLUS            &none           &kp LSHIFT      &kp LCTRL       &kp LALT        &kp LGUI
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp TILDE       &kp EXCL        &kp AT          &kp POUND       &kp PIPE            &none           &none           &none           &none           &none
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
      	                             &kp LPAR        &kp RPAR        &kp UNDER           &none           &none           &none
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
		};

		num_layer {
      label = "NUMBER";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &kp LBKT        &kp N7          &kp N8          &kp N9          &kp RBKT            &none           &none           &none           &none           &none
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp SEMI        &kp N4          &kp N5          &kp N6          &kp EQUAL           &none           &kp LSHIFT      &kp LCTRL       &kp LALT        &kp LGUI
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &kp GRAVE       &kp N1          &kp N2          &kp N3          &kp BSLH            &none           &none           &none           &none           &none
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &kp DOT         &kp N0          &kp MINUS           &none           &none           &none
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
		};

		fun_layer {
      label = "FUNC";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &kp F12         &kp F7          &kp F8          &kp F9          &kp PSCRN           &none           &none           &none          &none            &none
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   	 &kp F11         &kp F4          &kp F5          &kp F6          &kp SLCK            &none           &kp LSHIFT      &kp LCTRL       &kp LALT        &kp LGUI
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   	 &kp F10         &kp F1          &kp F2          &kp F3          &kp PAUSE_BREAK     &none           &none           &none          &none            &none
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &kp K_CMENU     &kp SPC         &kp TAB             &none           &none           &none
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
		};

    game_layer {
      label = "GAME";
			bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	   &hm LALT Q      &kp W           &kp E           &kp R           &kp T               &kp Y           &kp U           &kp I           &kp O           &kp P
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &hm LCTRL A     &kp S           &kp D           &kp F           &kp G               &kp H           &hm LSHFT J     &hm LCTRL K     &hm LALT L      &hm LGUI SQT
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
	   &hm LSHFT Z     &kp X           &kp C           &kp V           &kp B               &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
	                                   &kp ESC         &kp SPC         &kp TAB             &kp RET         &kp BSPC        &kp DEL
//                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
>;
    };
  };
};
